*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}


.header{
    background: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
    background-position: center;
    background-size: cover;
    height: 50vh;
    text-align: center;
}
.wrapper{
    position: relative;
    top: 20%;
}
.wrapper h1{
    font-size: 50px;
}
.wrapper .job-title{
    font-size: 25px;
    margin-bottom: 12px;
}
.wrapper .objective{
    font-size: 18px;
    margin-bottom: 30px;

}
.button-external{
    border: 1px solid black;
    border-radius: 12px;
    color: black;
    padding: 9px 1%;
    text-decoration: none;
}
.button-external:hover{
    background:rgb(114, 195, 219);
    color: white;
}
.heading{
    padding-top: 30px;
    text-align: center;
}
.skills{
    border: 0px;
    border-bottom: 1px solid;
    border-radius: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 3%;
    width: 90%;
}
.skill{
    padding: 2%;
    text-align: center;
}
.skill .material-icons{
    font-size: 50px;
    margin: 2%;
}

.projects{
    border: 0px;
    border-bottom: 1px solid;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 90%;
}
.project{
    padding: 2%;
    text-align: center;
}
.projects img{
    width:200px;
    height: 200px;
}
footer{
    text-align: center;
    padding: 1%;
    background-color: lightcyan;
}